body{
    /*background-color: #FFF;*/
	background: linear-gradient(to bottom, #49bdff 0%, #49bdff 40%, #fbfbfb 40%, #ebebeb 100%);
	background-repeat: no-repeat;
}

.image{
    position: absolute;
}

#container{
	margin: 0 auto;
	background: white;
	z-index: 0;
	border: none;
	position: relative;
	


    width: 820px;
    height: 720px;
    border-radius: 50px;
    
    overflow: hidden;
    
}

.estrela{
    position: absolute;
    top: 270px;
    left: 150px;
}

.fogos{
    position: absolute;
    top: 252px;
    left: 144px;
}

.dica{
    background-image: url("dica.png");
    position: absolute;
    width: 92px;
    height: 82px;
}

#img1{
    top: 115px;
    left: 65px;
    cursor: pointer; 
}

#img2{
    top: 300px;
    left: 65px;
    cursor: pointer;
}

#img3{
    top: 485px;
    left: 65px;
    cursor: pointer;
}

#fundo{
    top: 110px;
    left: 290px;
    z-index: 0;
}

#target1{    
    top: 300px;
    left: 299px;
    z-index: 0;
}

#target2{
    top: 115px;
    left: 299px;
    z-index: 0;
}


#target3{
    top: 485px;
    left: 299px;
    z-index: 0;
}

#parabens{
    top: 250px;
    left: 50px;
}
