body{
    /*background-color: #FFF;*/
	background: linear-gradient(to bottom, #49bdff 0%, #49bdff 40%, #fbfbfb 40%, #ebebeb 100%);
	background-repeat: no-repeat;
    background-size:100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -khtml-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
}

.image{
    position: absolute;
}

.dica{
    background-image: url("dica.png");
    position: absolute;
    width: 92px;
    height: 82px;
}
.estrela{
    position: absolute;
    top: 270px;
    left: 150px;
}

.fogos{
    position: absolute;
    top: 252px;
    left: 144px;
}

#container{
	margin: 0 auto;
	background: white;
	z-index: 0;
	border: none;
	position: relative;
	


    width: 820px;
    height: 720px;
    border-radius: 50px;
    
    /*
    background-size:100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -khtml-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    */
    overflow: hidden;
    
}

#img1{
    top: 415px;
    left: 30px;
    cursor: pointer; 
}

#img2{
    top: 292px;
    left: 30px;
    cursor: pointer;
}

#img3{
    top: 168px;
    left: 30px;
    cursor: pointer;
}

#target1{
    top: 175px;
    left: 450px;
    z-index: 0;
}

#target2{
    top: 292px;
    left: 450px;
    z-index: 0;
}

#target3{
    top: 410px;
    left: 450px;
    z-index: 0;
}

#parabens{
    top: 280px;
    left: 50px;
}
