body{
    /*background-color: #FFF;*/
	background: linear-gradient(to bottom, #49bdff 0%, #49bdff 40%, #fbfbfb 40%, #ebebeb 100%);
	background-repeat: no-repeat;
    position: center;
    /* overflow-x: hidden; */       /* Bloqueia a barra de rolagem (Scroll horizontal) */
    /* overflow-y: hidden; */          /* Bloqueia a barra de rolagem (Scroll vertical) */
                                    /* Pode coloar auto, em vez de hidden */
}

.image{
    position: absolute;
}

.dica{
    background-image: url("dica.png");
    position: absolute;
    width: 92px;
    height: 82px;
}

.estrela{
    position: absolute;
    top: 270px;
    left: 150px;
}

.fogos{
    position: absolute;
    top: 252px;
    left: 144px;
}

#container{
	margin: 0 auto;
	background: white;
	z-index: 0;
	border: none;
	position: relative;
	


    width: 820px;
    height: 720px;
    border-radius: 50px;
    overflow: hidden;
    
}

#img1{
    top: 330px;
    left: 30px;
    cursor: pointer; 
}

#img2{
    top: 330px;
    left: 150px;
    cursor: pointer;
}

#img3{
    top: 330px;
    left: 270px;
    cursor: pointer;
}

#img4{
    top: 450px;
    left: 120px;
    cursor: pointer; 
}

#img5{
    top: 550px;
    left: 100px;
    cursor: pointer;
}

#img6{
    top: 12px;
    left: 30px;
    cursor: pointer;
}

#target1{
    top: 576px;
    left: 361px;
    z-index: 0;
}

#target2{
    top: 576px;
    left: 515px;
    z-index: 0;
}

#target3{
    top: 576px;
    left: 704px;
    z-index: 0;
}

#target4{
    top: 451px;
    left: 350px;
    z-index: 0;
}

#target5{
    top: 443px;
    left: 332px;
    z-index: 0;
}

#target6{
    top: 305px;
    left: 453px;
    z-index: 0;
}

#fundo{
    top: 300px;
    left: 330px;
    z-index: 0;
}

#parabens{
    top: 260px;
    left: 50px;
}
