<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
<link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
<head>
</head>
<body>
<div th:fragment="footer" style="position:fixed;bottom:0px;width:100vw;background-color:#FFF">

    <div class="container">

        <footer>
            <!-- this is footer -->
            &copy; 2019 adaca.com.br
            <span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a th:href="@{/Jogos/logout}">Sair</a>
            </span>

        </footer>
    </div>

</div>
</body>
</html>