<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width" name="viewport"/>
    <title>Menu</title>
    <link href="../../static/css/styleMenu.css" rel="stylesheet" th:href="@{/css/styleMenu.css}" type="text/css">
    <script src="../../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
    <script src="../../static/js/MenuMobi.js" th:src="@{/js/MenuMobi.js}" type="text/javascript"></script>
    <link href="../../static/css/bootstrap-5/bootstrap.min.css" rel="stylesheet"
          th:href="@{/css/bootstrap-5/bootstrap.min.css}"/>
    <script src="../../static/js/bootstrap-5/bootstrap.min.js" th:src="@{/js/bootstrap-5/bootstrap.min.js}"></script>
</head>
<body data-title="menu" onload="configButton()">

<div th:replace="fragments/header :: header"></div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="container">
            <div class="row row-cols-4" id="rowButtons"></div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>

<input id="campoEscondidoDicaTempo" name="campoEscondidoDicaTempo" onfocus="this.value = ''" type="hidden"/>
<input id="campoEscondidoTempodeDica" name="campoEscondidoTempodeDica" onfocus="this.value = ''" type="hidden"/>
<input id="campoEscondidoDicaCaminho" name="campoEscondidoDicaCaminho" onfocus="this.value = ''" type="hidden"/>
</body>
</html>
